@import url("http://fonts.cdnfonts.com/css/post-no-bills-colombo");

.container-fluid {
  background-color: #dd1438;
  width: 100vw;
  height: 100vh;
}

.justify-content-md-center {
  height: inherit;
  align-items: center;
}

.logoContainer {
  text-align: right;
}

.logo {
  width: 75%;
}

.buttonContainer {
  text-align: -webkit-center;
}

.btn-outline-light {
  font-family: "Post No Bills Colombo ExtraBold", sans-serif;
  height: 30%;
}

.btn {
  width: 40%;
}
