/* Container completo de la vista de menu y resumen de pedido en Tableorders*/
@import url("http://fonts.cdnfonts.com/css/post-no-bills-colombo");

.containerMenuandBill {
  display: flex;
  height: 150vh;
  align-items: stretch;
}

.containerMenu {
  position: relative;
  width: 50%;
  margin: 10%;
  background-color: #e5e5e5;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  justify-content: center;
  column-gap: 3rem;
  padding: 20px;
}

.cardMenu {
  display: flex;
  width: 15rem;
  margin: 10% 25%;
  background: #ffff;
  border-radius: 20px;
  cursor: pointer;
  flex-direction: column;
}
.card-body {
  text-align: center;
  font-family: "Post No Bills Colombo ExtraBold", sans-serif;
}
.card-title {
  font-size: 150%;
}
.card-price {
  font-size: 150%;
  font-family: "Post No Bills Colombo ExtraBold", sans-serif;
}

.titleFood {
  text-align: center;
  font-family: "Post No Bills Colombo ExtraBold", sans-serif;
}
.botoncocina {
  text-align: center;
  font-family: "Post No Bills Colombo ExtraBold", sans-serif;
  color: crimson;
}
.card-img-top {
  border-radius: 20px 20px 0px 0px;
}

.nameMenu {
  background-color: #c4c4c4;
  height: 3rem;
  border-radius: 20px 20px 0px 0px;
}

.containerBill {
  width: 100%;
  display: flex;
  
  
}

.billContainer {
  position: relative;
  width: 50%;
  margin: 10%;
  background-color: #e5e5e5;
  width: 30rem;
  min-height: 27rem;
  border-radius: 20px;
}

.billTitleContainer {
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items: center;
  text-align: center;
  font-family: "Post No Bills Colombo ExtraBold", sans-serif;
  background-color: #dd1438;
  height: 3rem;
  border-radius: 20px 20px 0px 0px;
  
}

.billTitle {
  position: relative;
  top: 10%;
  border-radius: 50px;
  font-size: 2rem;
  background-color: white;
  
  
}

.orderContainer{
  height: 100px;
  font-family: "Post No Bills Colombo ExtraBold", sans-serif;
}

.sendtoKitchen{
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-end;*/
  align-items: center;
}

.botoncocina{
  border-radius: 20px;
  font-size: 2rem;
  border: 5px solid #fae33f;
  background-color: white;
  width: 60%;
}
.botoncocina:hover{
background-color: #fae33f;
}
.botonReset{
font-family: "Post No Bills Colombo ExtraBold", sans-serif;
color: #dd1438 ;
border-radius: 20px;
  font-size: 2rem;
  border: 5px solid #fae33f;
  background-color: white;
  width: 60%;
}

.botonReset:hover{
  background-color: #fae33f;
  }

.add{
width:20%;
background-color: #dd1438;
border-radius: 50px;
}

.remove{
  width:20%;
  background-color: #fae33f;
  border-radius:50px;
 }

.row{
  display: flex;
  justify-content: center;
}
